/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/* COMMON TYPOGRAPHY */
body,  p {
    color: #222222;
    font-family: Helvetica, Arial, sans-serif;   
}

select, input, textarea {
  color: #666666;
  font-family: Helvetica, Arial, sans-serif; 
}


body {font-size:12px;}
 
h1 {font-size:30px; color:#434343; font-weight:normal;}
h2 {font-size:45px; color:#434343; font-weight:normal; letter-spacing:-1px;}
h3 {font-size:32px; color:#434343; font-weight:normal; letter-spacing:-1px;}
h4 {font-size:24px; color:#434343; font-weight:normal; letter-spacing:-1px;}
h5 {font-size:20px; color:#434343; font-weight:normal; letter-spacing:-1px;}
h6 {font-size:16px; color:#434343; font-weight:normal; letter-spacing: 1px;}

a, a:active, a:visited { color: #ff0066; text-decoration:none; font-style:italic;}
a:hover { color: #ff0066; text-decoration:underline;}

em {font-style:italic;}

.m-4 {margin-bottom:4px;}
.m-8 {margin-bottom:8px;}
.m-12 {margin-bottom:12px;}
.m-20 {margin-bottom:20px;}
.m-24 {margin-bottom:24px;}

.markdown p {margin-bottom:0px; padding-bottom:6px;}    
.markdown p.label {margin-bottom:0px; padding-bottom:6px; font-size:12px; color:#666;}    
.markdown a.inline {font-size:12px;}    
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 
    {font-size:16px; color:#434343; font-weight:normal; letter-spacing: 1px; margin-bottom:12px;}
.markdown ul, .markdown ol 
    {list-style-position:inside; padding: 6px 0px 12px 0px;}
    
.markdown blockquote, .markdown pre
    {background-color:#E7E7E7; padding:8px 12px 6px 12px; margin:0px 12px 6px 12px;}
.markdown blockquote  p , .markdown pre  p
    {padding-bottom:6px;}
 .markdown pre {background-color:#E7E7E7;}

/**
 * Primary styles
 *
 * Author: antiplaka, antiplaka@gmail.com
 */

/* STRUCTURE */
body {padding:28px;}
header {margin-bottom:23px;}
.container_12 {border:1px solid #ccc; padding:20px 10px;}
.main {margin-bottom:60px;}

/* COMMON ELEMENTS */
.pager-holder {overflow:hidden;}
.pager-holder p {float:left; margin-right:3px; padding:1px 4px 1px 0px;}
.pager {list-style-type:none; overflow:hidden; float:left;}
.pager a {color:#666; font-style:normal;}
.pager a:hover {color:#ff0066;}
.pager li {float:left; padding:1px 4px; margin-right:3px;}
.pager li.caption {margin-right:0; padding-left:0;}
.pager li.active {background-color:#ff0066;}
.pager li.disabled {display:none;}
.pager li.active a {color:#fff; cursor:default;}

 .bg-red {padding:1px 4px; background-color:#ff0066; color:#fff; display:block;}
 .red {color:#ff0066;}
 
 .button {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; 
    padding: 10px 10px; border:1px solid #CCCCCC; 
    cursor: pointer;}
.button.hover {color:#ff0066; }    
    
.debug {clear:both; padding-top:20px; color:#888;}
.debug:hover {color:#222;}
.debug p {padding-left:12px; }
.debug code {font-size:12px; }
.debug pre {padding-top:2px;}

   
 /* FORMS */
 div.form-element {clear:left;}
	div.form-element.required  label {background:url("../img/marker_star.png") right 6px no-repeat;}
	div.form-element.left   {float:left;}
	div.form-element.right {clear:none; float:right;}
	div.form-element.hidden {display:none;}
	div.form-element input.error {border:1px solid #ff5b5b;}
	div.form-element input.altered {background:#E2FF71;}
	div.form-element input.error.altered {background:white;}
 
 form.compact {overflow:hidden;}
 form.compact input , form.compact textarea, form.compact select
    {margin-bottom:8px; font-size:12px; background-color:#fff; border:1px solid #CCCCCC; padding: 3px 10px;}           
    form.compact .inputHint-wrapper span {left:10px; top:4px; font-size:12px; color:#666666;} 
    form.compact .form-element.right {margin-left:10px;}
    form.compact label {display:none;}

form.normal {overflow:hidden;}
form.normal input, form.normal select, form.normal option
    {margin-bottom:12px; font-size:12px; background-color:#fff; border:1px solid #CCCCCC; padding: 3px 10px;}
    form.normal label {font-size:14px; margin-bottom:8px; display:block;}
    form.normal .form-element.right {margin-right:10px;}
    form.normal .form-element {width:300px;}
    form.normal .form-element input {width:280px;}
    form.normal .form-element textarea {width:280px; height:72px;}
    form.normal .form-element select {width:300px;}
    form.normal .form-element option {padding:0 10px; border:none;  margin-bottom:3px;}

.validation-summary {margin-bottom:20px;}
.validation-summary li {list-style-type:none; padding-left:12px; margin-bottom:2px; font-size:14px; color:#666666;}
.validation-summary h6 {margin-bottom:2px; color:#ff0066;}
.validation-summary h6 a {color:#222222;}
.validation-summary p {color:#ff0066; font-size:16px; letter-spacing: 1px; margin-bottom:2px; }

.side-block .validation-summary {margin-bottom:12px;}
.side-block .validation-summary p {margin-bottom:2px; font-size:12px; color:#ff0066;}
.side-block .validation-summary li {font-size:12px; padding-left:0px;}

/* MarkItUp customizations*/
.markItUp {width:540px; margin:0; border:none;}
.markItUpContainer {border:1px solid #ccc; padding:0px;}
.markItUpHeader {padding:5px 10px 2px 10px; border-bottom:1px solid #CCCCCC; overflow:hidden;}
.markItUpEditor   {width:517px; height:144px; border:none; padding:5px 10px; font-size:12px; }

form.normal .form-element .markItUp {margin-bottom:12px;}
form.normal .markdown-editor-holder.wide .markItUp {width:540px;}
form.normal .markdown-editor-holder.wide .markItUpEditor {width:518px;}
form.normal .markdown-editor-holder .markItUp {width:300px;}
form.normal .markdown-editor-holder .markItUpEditor {width:278px;}

/* LOGIN FORM */
#login {width:210px;}
#login .form-element.left input {width:140px;}
#login .form-element.right {}

#login-submit {background:url("../img/icon_arrow_grey.png") center center no-repeat; padding: 2px 12px;}
#login-submit.hover {background-image:url("../img/icon_arrow_red.png");}
#login-forgot {background:url("../img/icon_question_grey.png") center center no-repeat; padding: 2px 12px; height:17px; width:6px;}
#login-forgot.hover {background-image:url("../img/icon_question_red.png");}

/* REGISTRATION */
#register .form-element {}
#register .form-element.hint {height:23px; padding-top:25px; display:table;}
#register .form-element.hint  p {display:table-cell; vertical-align:middle; line-height:1em; color:#666666;}

#register-submit {background: url("../img/icon_arrow_grey.png")  85px center no-repeat; padding: 2px 24px 2px 12px;}
#register-submit.hover {background-image: url("../img/icon_arrow_red.png");}


/* HEADER */
#nav-main {padding-top: 5px;}
#nav-main h6 {white-space: nowrap;}
#nav-main ul  {margin-top:2px; line-height: 18px;}
#nav-main ul  li {display: inline; white-space:nowrap; background:url("../img/dot_red.png") left center no-repeat; padding-right:4px; padding-left:14px;}
#nav-main ul  li.first {padding-left: 0; background:none;}
#nav-main ul  li a {font-size:14px; color:#666666; font-style:italic;}
#nav-main ul  li a:hover {color:#ff0066; text-decoration:underline;}

#user-info {padding-top: 5px;}
#user-info p {text-align:right; margin-top:2px;}

/* SIDE -BLOCK*/
.side {margin-top:17px;}

.side-block {margin-bottom:30px;}
.side-block h6 {border-bottom:1px solid #cccccc; margin-bottom:12px;}
.side-block ul {margin-left:10px;}
.side-block ul li {margin-bottom:1px;}
.side-block ul li a {font-style:normal; color:#666666;}
.side-block ul li a:hover {color:#ff0066;}
.side-block ul li.active {color:#ff0066;}
.side-block ul li.active a {color:#ff0066;}
.side-block p {margin-bottom:3px;}

.user-area li {overflow:hidden;}
.user-area li span {margin-right:5px; margin-bottom:1px;}
.user-area li a {margin-top:1px;}
.user-area li>* {float:left;}

/* FOOTER */
footer {border-top:1px solid #cccccc;  padding-top:10px;}
#nav-footer {}
#nav-footer ul  {margin-top:2px; line-height: 18px;}
#nav-footer ul  li {display: inline; white-space:nowrap; background:url("../img/dot_red.png") left center no-repeat; padding-right:4px; padding-left:14px;}
#nav-footer ul  li.caption {padding: 0; background:none;}
#nav-footer ul  li.first {background:none;}

#nav-footer ul  li a {color:#666666;}
#nav-footer ul  li a:hover {color:#ff0066;}


/* MAIN CONTENT */
.main h1 {border-bottom:1px solid #cccccc; margin-bottom:12px;}
.main h4 {border-bottom:1px solid #cccccc; margin-bottom:4px; margin-top:8px;}


/* FORUM THREADS LIST */
.forum-list {width:100%;}
.forum-list td {padding:15px 20px 8px 0;  border-bottom:1px solid #dddddd; vertical-align:middle;}

.forum-list a {color:#333333; font-style:normal; font-size:14px;} 
.forum-list a:hover {color:#ff0066;} 

.forum-list .topic {width:380px; vertical-align:top;}
.forum-list .topic .sub {color:#808080; margin-top:1px;} 
.forum-list .topic .new-replies {color:#ff0066; white-space:nowrap; padding-left:15px; text-transform:uppercase; font-size:10px; position:relative; top:-1px;} 
    
.forum-list .replies {width:1px; text-align:center;} 
.forum-list  thead .replies p {left:0px;} 

.forum-list .activity-date {width:60px;}
.forum-list .activity-user  {width:60px;}

.forum-list thead td {padding:0px 20px 0px 0;}
.forum-list thead p {padding:5px 4px; background-color:#e6e6e6; color:#808080; float:left; position:relative; left:-4px;}
  
/* THREAD VIEW */
.thread-block {padding:15px 0px 9px 0;  border-bottom:1px solid #dddddd; overflow:hidden; clear:both;}
.thread-block .message-user-info {width:140px; float:left;}
.thread-block .message-user-info p {color:#666; margin-bottom:2px;}
.thread-block .message-user-info a {font-style:normal;}
.thread-block .message-user-info a.user {color:#ff0066;}
.thread-block .message-user-info a.user:hover {}

.thread-block h6 {margin:6px 0 12px 0;}

.thread-block .markdown, .thread-block .left
    {float:left; margin-left:20px; width:540px;}

.thread-block .pager-holder {float:right;}
.thread-block .validation-summary {margin-bottom:0px;}

.thread-block.thread-reply {margin-top:12px; border:none;}
.thread-block.thread-reply  h6 {margin:0 0 170px 0;}
   
/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}